{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "semi": true,
  "indentStyle": "space",
  "indentWidth": 2,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-organize-imports"]
}
